<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
<nav>
    <a href="/">Welcome</a> |
    <a href="/recipes">Recipes</a> |
    <a href="/ingredients">Ingredients</a> |
    <a href="/dishes">Dishes</a>
</nav>
<main>
    <div th:if="${error}">
        <span>ERROR</span>
    </div>
    <h1>Dishes management</h1>
    <table>
        <thead>
        <tr>
            <th>Dish name</th>
            <th>Cuisine</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dish: ${allDishes}">
            <td th:text="${dish.name}">test</td>
            <td th:text="${dish.cuisine}">I Am Nobody</td>
            <td th:object="${dish}">
                <form method="post" th:action="@{/recipes/changeDish(id=${dish.id})}" th:object="${dish}" >
                    <input type="submit"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>