<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
<nav>
    <a href="/">Welcome</a> |
    <a href="/recipes">Recipes</a> |
    <a href="/ingredients">Ingredients</a> |
    <a href="/dishes">Dishes</a>
</nav>
<main>
    <h1>Edit recipe</h1>
    <form method="post" th:action="@{/recipes/edit}" th:object="${recipe}">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="Name">Name: </label>
            <input th:field="*{name}" type="text" id="Name" value="I Am Nobody"/>
        </div>
        <div>
            <h5>Complexity: </h5>
            <div>
                <ul>
                    <li>
                        <input required id="LOW" type="radio" th:field="*{complexity}" value="LOW"/>
                        <label for="LOW">LOW</label>
                    </li>
                    <li>
                        <input required id="MEDIUM" type="radio" th:field="*{complexity}" value="MEDIUM" />
                        <label for="MEDIUM">MEDIUM</label>
                    </li>
                    <li>
                        <input required id="HIGH" type="radio" th:field="*{complexity}" value="HIGH" />
                        <label for="HIGH">HIGH</label>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <label for="CookingTime">Cooking time: </label>
            <input th:field="*{cookingTime}" type="number" id="CookingTime" value="I Am Nobody"/>
        </div>
        <div th:if="${recipe.dish != null}">Dish: <span th:text="${recipe.dish.name}"></span></div>
        <div th:if="${recipe.dish != null}"><a href="#" th:href="@{/recipes/changeDish(id=${recipe.id})}">Change dish</a></div>
        <div th:if="${recipe.dish == null}"><a href="#" th:href="@{/recipes/changeDish(id=${recipe.id})}">Add dish</a></div>
        <input type="submit"/><input type="reset"/>
    </form>
</main>
</body>
</html>
