<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
<nav>
    <a href="/">Welcome</a> |
    <a href="/recipes">Recipe management</a>
</nav>
<main>
    <h1>Edit user</h1>
    <form method="post" th:action="@{/recipes/edit}" th:object="${recipe}">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="Name">Name: </label>
            <input th:field="*{name}" type="text" id="Name" value="I Am Nobody"/>
        </div>
        <div>
            <label for="Complexity">Complexity: </label>
            <input th:field="*{complexity}" type="text" id="Complexity" value="I Am Nobody"/>
        </div>
        <div>
            <label for="CookingTime">Cooking time: </label>
            <input th:field="*{cookingTime}" type="number" id="CookingTime" value="I Am Nobody"/>
        </div>
        <input type="submit"/><input type="reset"/>
    </form>
</main>
</body>
</html>
