<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
<nav>
    <a href="/">Welcome</a> |
    <a href="/recipes">Recipes management</a>
</nav>
<main>
    <div th:if="${error}">
        <span>ERROR</span>
    </div>
    <h1>User management</h1>
    <table>
        <thead>
        <tr>
            <th>Recipe name</th>
            <th>Complexity</th>
            <th>Cooking time</th>
            <th>Dish</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe: ${allRecipes}">
            <td th:text="${recipe.name}">test</td>
            <td th:text="${recipe.complexity}">I Am Nobody</td>
            <td th:text="${recipe.cookingTime}">I Am Nobody</td>
            <td th:if="${recipe.getDish()} != null" th:text="${recipe.getDish().name}">I Am Nobody</td>
            <td th:if="${recipe.getDish()} == null"></td>
            <td><a href="#" th:href="@{/recipes/ingredients(id=${recipe.id})}">ingredients</a></td>
            <td><a href="#" th:href="@{/recipes/edit(id=${recipe.id})}">edit</a></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>