<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe ingredients</title>
</head>
<body>
<nav>
    <a href="/">Welcome</a> |
    <a href="/recipes">Recipes management</a>
    <a href="/ingredients">Ingredients management</a>
    <a href="/dishes">Dishes management</a>
</nav>
<main>
    <div th:if="${error}">
        <span>ERROR</span>
    </div>
    <h1>Recipe ingredients</h1>
    <table>
        <thead>
        <tr>
            <th>Ingredient name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ingredient: ${allIngredients}">
            <td th:text="${ingredient.name}">test</td>
            <td th:text="${ingredient.price}">I Am Nobody</td>
            <td>
                <form method="post" th:action="@{/recipes/ingredients(id=${ingredient.id})}" th:object="${ingredient}" >
                    <input type="submit" value="delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div><a href="#" th:href="@{/recipes/newIngredients(id=${recipe.id})}">Add ingredient</a></div>
</main>
</body>
</html>