<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
<nav>
    <a href="/">Welcome</a> |
    <a href="/recipes">Recipes management</a>
    <a href="/ingredients">Ingredients management</a>
    <a href="/dishes">Dishes management</a>
</nav>
<main>
    <div th:if="${error}">
        <span>ERROR</span>
    </div>
    <h1>User management</h1>
    <form method="get" th:action="@{/recipes(price=${recipePrice.price})}">
        <div>
            <label for="Price">Show recipes with price lower than: </label>
            <input th:field="*{recipePrice.price}" type="number" id="Price" value="I Am Nobody"/>
        </div>
        <input type="submit" value="Show recipes"/>
    </form>
    <table>
        <thead>
        <tr>
            <th>Recipe name</th>
            <th>Complexity</th>
            <th>Cooking time</th>
            <th>Dish</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe: ${allRecipes}">
            <td th:text="${recipe.name}">test</td>
            <td th:text="${recipe.complexity}">I Am Nobody</td>
            <td th:text="${recipe.cookingTime}">I Am Nobody</td>
            <td th:if="${recipe.getDish()} != null" th:text="${recipe.getDish().name}">I Am Nobody</td>
            <td th:if="${recipe.getDish()} == null"></td>
            <td><a href="#" th:href="@{/recipes/ingredients(id=${recipe.id})}">ingredients</a></td>
            <td><a href="#" th:href="@{/recipes/edit(id=${recipe.id})}">edit</a></td>
            <td>
                <form method="post" th:action="@{/recipes(id=${recipe.id})}" th:object="${recipe}" >
                    <input type="submit" value="delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form method="post" th:action="@{/recipes/add}" th:object="${recipe}">
        <div>
            <label for="Name">Name: </label>
            <input required th:field="*{name}" type="text" id="Name" value="I Am Nobody"/>
        </div>
        <div>
            <label for="Complexity">Complexity: </label>
            <input required  th:field="*{complexity}" type="text" id="Complexity" value="I Am Nobody"/>
        </div>
        <div>
            <label for="CookingTime">Cooking time: </label>
            <input required  th:field="*{cookingTime}" type="number" id="CookingTime" value="I Am Nobody"/>
        </div>
        <input type="submit"/><input type="reset"/>
    </form>
</main>
</body>
</html>